// Variables
$fontQuattrocento: 'Quattrocento Sans', sans-serif;
$fontPacifico: 'Pacifico', cursive;
$fontLobster: 'Lobster', cursive;

$colorPrimary: #ce7604;
$colorSecondary: #61120A;
$colorWhite: #fff;
$colorUnderline: #d97f25;
$colorHover: #17cba7;
$colorSidebarBorder: #5a0101;
$colorSidebarBackground: #ce7604;
$colorSidebarText: #003300;
$colorFooterBackground: #003300;
$colorFooterText: #ffffff;
$colorBodyBackground: rgba(4, 95, 73, 0.85);

$backgroundImage: url("./image/garden.jpg");

// Mixins
@mixin grow-animation($duration: 2s) {
  animation: grow-animation $duration ease-in-out infinite alternate;

  @keyframes grow-animation {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
}

@mixin pulse-animation($duration: 2s) {
  animation: pulse-animation $duration infinite alternate;

  @keyframes pulse-animation {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
}

@mixin hoverUnderline {
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover::before,
  &:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  &::before {
    background-color: $colorUnderline;
  }

  &::after {
    background-color: $colorHover;
  }
}

// Styles
h1:contains("The Beauty of CSS Design") {
  font-family: $fontPacifico;
}

h2, h3, h4 {
  font-family: $fontLobster;
  margin: 5px;
  border-bottom: solid 2px transparent;
  border-radius: 2%;
  position: relative;
  padding-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #042d0d, rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 1;
    @include grow-animation;
  }
}

h3, h4 {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    border-bottom: 2px dashed #fff;
    @include pulse-animation;
  }
}

h1 {
  background: $colorPrimary;
  color: $colorWhite;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: $colorWhite;
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-family: $fontQuattrocento;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: $fontQuattrocento;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorWhite;
  font-weight: 700;
  position: relative;
  @include hoverUnderline;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $colorWhite;
  padding: 5% 0;
  position: relative; // Adjusted for the position of the falling leaves gif

  &::after {
    content: url('./image/fallleaves.gif');
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}

.preamble, .explanation, .participation, .benefits, .requirements {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  margin-right: 30px;
  max-width: calc(100% - 340px);
}

.explanation:nth-child(even), .participation:nth-child(even), .benefits:nth-child(even), .requirements:nth-child(even) {
  background: $colorPrimary;
  color: $colorWhite;
  transform: rotate(-3deg);
  margin-top: 50px;
  z-index: 2;
}

.preamble, .explanation:nth-child(odd), .participation:nth-child(odd), .benefits:nth-child(odd), .requirements:nth-child(odd) {
  background: $colorSecondary;
  color: $colorWhite;
  transform: rotate(3deg);
  margin-bottom: 50px;
  z-index: 2;
}

.preamble {
  background: $colorPrimary;
  color: $colorWhite;
  transform: rotate(-3deg);
  margin-bottom: 100px;
}

.explanation {
  margin-top: 80px;
}

* {
  box-sizing: border-box;
}

html {
  background-image: $backgroundImage;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5%;
  background-color: transparent;
}

body {
  font-family: $fontQuattrocento;
  font-size: 85%;
  color: $colorWhite;
  background-color: $colorBodyBackground;
  padding: 5px;
}

.sidebar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: $colorSidebarBackground;
  padding: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  border: 1px solid $colorSidebarBorder;
  color: $colorSidebarText;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  * {
    background-color: white;
    color: $colorSidebarText;
    margin-bottom: 20px;
  }
}

.page-wrapper {
  padding: 5%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-image: url(images/flower-3205083_640.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 center;
  padding-left: 30px;
  margin-top: 5%;
}

p {
  width: 80%;
}

footer {
  background-color: $colorFooterBackground;
  color: $colorFooterText;
  padding: 20px;
  text-align: center;

  a {
    color: $colorFooterText;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Adjustments for smaller screens
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    margin-top: 60px;
    position: relative;
  }

  footer {
    display: block;
    margin-top: 20px;
  }
}
